﻿@{
    ViewBag.Title = "ProductDetails";
}
@using DTO;

<!doctype html>
<html>
<head>
   <title></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, maximum-scale=1">
    <link rel="icon" href="~/img/favicon.png" type="image/png">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Scripts/fancybox/jquery.fancybox.css" rel="stylesheet" />
    <link href="~/font-awesome/css/style.css" rel="stylesheet" />
    <link href="~/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="~/font-awesome/css/animate.css" rel="stylesheet" />
    <link href="~/Content/Custom.css" rel="stylesheet" />
    <link href="~/Content/reveal.css" rel="stylesheet" />
    <script src="~/Scripts/plugins/flot/jquery.reveal.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', { 'packages': ['bar', 'line', 'corechart'] });
        google.charts.setOnLoadCallback(drawChart);
        function drawChart() {
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Name');
            data.addColumn('number', 'Value');
            data.addColumn({ type: 'string', role: 'style' });
            data.addRows([
                ['2014', 600, 'color: #9d426b'],
                ['2015', 700, 'color: #3fb0e9'],
                ['2016', 800, 'color: #42c698'],
                ['2016', 900, 'color: red'],
                ['2016', 1000, 'color: gold']
            ]);

            var options = {
                chart: {
                    title: 'Company Performance',
                    subtitle: 'Sales, Expenses, and Profit: 2014-2017',
                },
                title: 'Trending Products Chart',
                hAxis: {
                    title: 'Popularity',
                },
                bars: 'horizontal', // Required for Material Bar Charts.
                width: 712,
                height: 370,
                legend: { position: 'none' },
            };


            var chart = new google.visualization.BarChart(document.getElementById('prodDesc'));
            chart.draw(data, options);

            var options1 = {

                title: 'Positive Feature Graph',
                hAxis: {
                    title: 'Popularity',
                },
                bars: 'vertical', // Required for Material Bar Charts.
                width: 410,
                height: 290,
                legend: { position: 'none' },
            };

            var chart1 = new google.visualization.BarChart(document.getElementById('positiveFeatureGraph'));
            chart1.draw(data, options1);

            var options2 = {

                title: 'Negative Feature Graph',
                hAxis: {
                    title: 'Popularity',
                },
                bars: 'vertical', // Required for Material Bar Charts.
                width: 410,
                height: 290,
                legend: {position: 'none'},
            };

            var chart2 = new google.visualization.BarChart(document.getElementById('negativeFeaturegraph'));
            chart2.draw(data, options2);


        }
    </script>







</head>
<body style="background-color: white">

    <header id="header_wrapper">
        <div class="container">
            <div class="header_box">
                <div class="logo">
                    <a href="../../ADAMHome/index">
                        <img src="~/img/logo.png" alt="logo" style="width: 60%;">
                    </a>
                </div>
                <nav class="navbar navbar-inverse" role="navigation">
                    <div class="navbar-header">
                        <button type="button" id="nav-toggle" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav"><span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
                    </div>
                    <div id="main-nav" class="navbar-header" @*class="collapse navbar-collapse navStyle"*@>
                        <ul class="nav nav-pills" id="mainNav">
                            <li class="active"><a href="../../ADAMHome/index" class="scroll-link"><strong>Home</strong></a></li>
                            <li><a href="#service" class="scroll-link"><strong>Top Rated Products</strong></a></li>
                            <li><a href="#ProductReview" class="scroll-link"><strong>Reviews</strong></a></li>
                            <li><a href="#contact" class="scroll-link"><strong>Contact</strong></a></li>
                        </ul>

                    </div>
                    <div class="col-lg-4">
                        <form action="Home/Products" method="post" class="navbar-form navbar-right" role="search">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Search here...">
                            </div>

                            <button type="submit" class="btn btn-default" id="search"><strong>Search</strong></button>
                        </form>
                    </div>
                    <div class="container">
                        <div class="col-lg-1">
                            <button type="submit" class="btn btn-default" onclick="location.href = '../../ADAMHome/Login'" id="LoginBut"><strong>Login</strong></button>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </header>
    <!--Hero_Section-->
    <div class="container">
        <section id="prodDescription_section" class="ProductPageTop" style="display: none">
            <div class="hero_wrapper" id="prodGraph" style="margin-left: 180px; align-content: center; background-color: #F5F5F5; display: none">
            </div>
        </section>
        <!--Hero_Section-->
        <!--Service-->
        <section id="service">
            <div style="align-self: center">
                <h3 id="ProductTitle">@Model.Title</h3>
            </div>
            <div class="row">

                <div class="col-lg-12">
                    <div class="rcorners">

                        <div class="row" id="product">

                            @*------------------------*@
                            <ul class="nav nav-tabs">
                                <li class="active"><a data-toggle="tab" href="#home">Product Specifications</a></li>
                                <li><a data-toggle="tab" href="#menu1">Product Review</a></li>
                                <li><a data-toggle="tab" href="#menu3">Suggestions</a></li>
                            </ul>

                            <div class="tab-content">
                                <div id="home" class="tab-pane fade in active">
                                    @*------------------------*@
                                    <br />

                                    <!--table-->
                                    <div class="span3 tiny ">
                                        <div class="pricing-table-header-tiny">
                                            <h3 class="detail-product">Product Details</h3>

                                        </div>

                                        <div class="row">
                                            <div class="col-md-4" >
                                                <div class="row" id="productThumbnail">
                                                    <a href="#" class="thumbnail">
                                                        <img src="@Model.ImageUrl" alt="@Model.Title">
                                                    </a>
                                                </div>

                                                <div class="row" id="prodDescBox">
                                                    <p class="descriptionHeader">Description</p>
                                                    <p>@Model.ProductDescription</p>
                                                    <p><b>Price &nbsp;</b>@Model.Price</p>
                                                    
                                                    

                                                </div>
                                                <br />
                                            </div>

                                            <div class="col-md-8">
                                                <div class="description" id="prodDesc">
                                                </div>

                                            </div>
                                            

                                        </div>
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="table-responsive">
                                                    <table class="table table-bordered">
                                                        <thead>
                                                            <tr>

                                                                <th>Features</th>
                                                                <th>Details</th>

                                                            </tr>
                                                        </thead>
                                                        <tbody>

                                                            @foreach (var spec in @Model.Product_Specification)
                                                            {
                                                                <tr>

                                                                    <td>@spec.Specification.Name</td>

                                                                    <td>@spec.Value</td>

                                                                </tr>
                                                            }





                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- <div class="pricing-table-signup-tiny">
                                            <p><a href="#">Sign Up</a></p>
                                        </div>-->
                                    </div>

                                    @*------------------------*@
                                </div>


                                <div id="menu1" class="tab-pane fade">
                                    <br />

                                    <div class="pricing-table-header-tiny">
                                        <h3 class="detail-product">Review Summary</h3>

                                    </div>
                                    <br />
                                    <div class="SummaryBox">
                                        <p>At last: the laptop buyer's guide we wanted to write three months ago. You see, when it came time to publish our spring edition, Intel was on the cusp of releasing its fourth-generation Core processors, which meant almost everything we were recommending was destined for a refresh. So we basically said, "Wait for Haswell," and called it a day. By now, though, most of said companies have upgraded their notebooks, if not released brand-new ones, so we can finally recommend stuff without any caveats about obsolescence.</p>
                                    </div>
                                    <br />
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="pricing-table-header-tiny">
                                                <h3 class="detail-product">Customer Reviews</h3>

                                            </div>
                                        </div>
                                    </div>
                                    <br />
                                    <div class="row">
                                        <div class="col-md-7">
                                            @foreach (var review in @Model.ProductReviews)
                                            {

                                                <div class="ReviewBox">
                                                    <div class="row">
                                                        <div class="col-xs-2">
                                                            <a href="#" class="thumbnail">
                                                                <img src="http://www.free-icons-download.net/images/user--user-icon-32727.png" alt="USer">
                                                            </a>
                                                        </div>
                                                        <div class="col-md-10">
                                                            <div class="p-class">
                                                                <p class="p-class">@review.Review</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <br />

                                            }
                                        </div>

                                        <div class="col-md-5">
                                            <div class="row">
                                                <div class="ReviewPageGraph" id="positiveFeatureGraph">

                                                </div>
                                                <br />
                                            </div>

                                            <div class="row">
                                                <div class="ReviewPageGraph" id="negativeFeaturegraph">

                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                    </div>

                                <div id="menu3" class="tab-pane fade">
                                    <br />
                                    <div class="pricing-table-header-tiny">
                                        <h3 class="detail-product">Sugested Products </h3>

                                    </div>
                                    <br />
                                    <p>&nbsp;Macbook Air 2015</p>
                                </div>
                            </div>
                            @*------------------------*@

                        </div>
                    </div>

                </div>
        </section>
        <!--Service-->
        <!-- Portfolio -->
        <section id="ProductReview" class="content">
            <div class="row">
                <div class="col-lg-8"></div>
            </div>
        </section>
        <!--/Portfolio -->

    </div>
    <!--Aboutus-->
    <!--Footer-->
    <!-- <footer class="footer_wrapper" id="contact1" style="background-color: #D3D3D3;">-->
    <div id="footer-outer">






        <div id="footer-widgets">

            <div class="container">

                <div class="row" id="footer_row">



                    <div class="col-lg-3">

                        <!-- Footer widget area 1 -->

                        <div id="text-7" class="widget widget_text">
                            <h4>  &nbsp;Adam </h4>			<div class="textwidget">
                                <a href="/about-us/" title="">About Us</a>
                                <hr>
                                <a href="/our-team/#section-bod" title="">Board Of Directors</a>
                                <hr>
                                <a href="/our-team/#section-mt" title="">Management Team</a>
                                <hr>
                                <a href="/about-us#testimonial" title="">Testimonials</a>
                            </div>
                        </div>
                    </div><!--/span_3-->



                    <div class="col-lg-3">

                        <!-- Footer widget area 2 -->

                        <div id="text-9" class="widget widget_text">
                            <h4>Investors</h4>			<div class="textwidget">
                                <a href="http://ir.netsoltech.com/press-releases" title="">News / Events</a></br>
                                <hr>
                                <a href="http://ir.netsoltech.com/all-sec-filings" title="">SEC Filings</a></br>
                                <hr>
                                <a href="http://ir.netsoltech.com/financials" title="">Financial Information</a></br>
                                <hr>
                                <a href="http://ir.netsoltech.com" title="">More</a>
                            </div>
                        </div>


                    </div><!--/span_3-->




                    <div class="col-lg-3">

                        <!-- Footer widget area 3 -->

                        <div id="text-10" class="widget widget_text">
                            <h4>Information</h4>			<div class="textwidget">
                                <a href="http://www.netsoltech.com/#/" title="">Sitemap</a>
                                <hr>
                                <a href="/website-term-of-use/" title="">Terms of Use</a></br>
                                <hr>
                                <a href="/privacy-policy/" title="">Privacy Policy</a></br>
                                <hr>
                                <a href="/contact-us/" title="">Contact Us</a></br>

                            </div>
                        </div>


                    </div><!--/span_3-->





                    <div class="col-lg-3">

                        <!-- Footer widget area 4 -->

                        <div id="text-3" class="widget widget_text">
                            <h4>Upcoming Events</h4>			<div class="textwidget">
                                <a href="http://www.netsoltech.com/event-listings/" title="" target="_blank">Latin American Leasing...</a></br>
                                <hr>
                                <a href="http://www.netsoltech.com/event-listings/" title="" target="_blank">AELA Annual Conference</a></br>
                                <hr>
                                <a href="http://www.netsoltech.com/event-listings/" title="" target="_blank">ELFA 54th Annual Convention </a></br>
                                <hr>
                                <a href="http://www.netsoltech.com/event-listings/" title="">More</a>
                            </div>
                        </div>


                    </div><!--/span_3-->




                </div><!--/row-->



            </div><!--/container-->



        </div><!--/footer-widgets-->






        <div class="row" id="copyright">



            <div class="container">



                <div class="col span_5">





                    <p>&copy; 2016 ADAM.  </p>




                </div><!--/span_5-->



                <div class="col span_7 col_last">

                    <ul id="social"></ul>

                </div><!--/span_7-->



            </div><!--/container-->



        </div><!--/row-->

        <div style="height:5px; width:100%; float:left; background:#000;">

            <div style="float:left; width:25%; height:5px; background:#BDD7EE;"></div>

            <div style="float:left; width:25%; height:5px; background:#9DC2E5;"></div>

            <div style="float:left; width:25%; height:5px; background:#1970B8;"></div>

            <div style="float:left; width:25%; height:5px; background:#1D4E79;"></div>

        </div>





    </div><!--/footer-outer-->
    <!--</footer> -->




    <script src="~/Scripts/jquery-1.11.0.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery-scrolltofixed.js"></script>
    <script src="~/Scripts/jquery.nav.js"></script>
    <script src="~/Scripts/jquery.easing.1.3.js"></script>
    <script src="~/Scripts/jquery.isotope.js"></script>
    <script src="~/Scripts/fancybox/jquery.fancybox.pack.js"></script>
    <script src="~/Scripts/wow.js"></script>
    <script src="~/Scripts/custom.js"></script>
    <script src="~/Scripts/jquery.reveal.js"></script>

</body>
</html>



