﻿@{
    ViewBag.Title = "Products";
}

@using DTO;
<!doctype html>
<html>
<head>
    <title></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, maximum-scale=1">
    <link rel="icon" href="~/img/favicon.png" type="image/png">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Scripts/fancybox/jquery.fancybox.css" rel="stylesheet" />
    <link href="~/font-awesome/css/style.css" rel="stylesheet" />
    <link href="~/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="~/font-awesome/css/animate.css" rel="stylesheet" />
    <link href="~/Content/Custom.css" rel="stylesheet" />
    <link href="~/Content/reveal.css" rel="stylesheet" />
    <script src="~/Scripts/plugins/flot/jquery.reveal.js"></script>
</head>
<body style="background-color: white">

    <header id="header_wrapper">
        <div class="container">
            <div class="header_box">
                <div class="logo">
                    <a href="../../ADAMHome/index">
                        <img src="~/img/logo.png" alt="logo" style="width: 60%;">
                    </a>
                </div>
                <nav class="navbar navbar-inverse" role="navigation">
                    <div class="navbar-header">
                        <button type="button" id="nav-toggle" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav"><span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
                    </div>
                    <div id="main-nav" class="navbar-header" @*class="collapse navbar-collapse navStyle"*@>
                        <ul class="nav nav-pills" id="mainNav">
                            <li class="active"><a href="../../ADAMHome/index" class="scroll-link"><strong>Home</strong></a></li>
                            <li><a href="#service" class="scroll-link"><strong>Top Rated Products</strong></a></li>
                            <li><a href="#ProductReview" class="scroll-link"><strong>Reviews</strong></a></li>
                            <li><a href="#contact" class="scroll-link"><strong>Contact</strong></a></li>
                        </ul>

                    </div>
                    <div class="col-lg-4">
                        <form action="Home/Products" method="post" class="navbar-form navbar-right" role="search">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Search here...">
                            </div>

                            <button type="submit" class="btn btn-default" id="search"><strong>Search</strong></button>
                        </form>
                    </div>
                    <div class="container">
                        <div class="col-lg-1">
                            <button type="submit" class="btn btn-default" onclick="location.href = '../../ADAMHome/Login'" id="LoginBut"><strong>Login</strong></button>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </header>
    <div class="container">
        <!--Service-->
        <section id="productsMenu">
            @{
                int i = 0;
            }
            <br />
            <br />
            <br />
            <br />

            <div class="row">
                <div>
                    <h1 class="page-header" id="productMenu">
                        Laptops
                    </h1>
                </div>
                @foreach (var prod in @Model.Products)
                {
                    
                        <div class="col-lg-6">
                            <div class="productBox">
                                <div class="row" id="product">
                                    <div class="col-lg-3">
                                        <a href="">
                                            <img src="@prod.ImageUrl" alt="@prod.Title" id="productImage">
                                        </a>
                                    </div>
                                    <div class="col-lg-8">
                                        
                                                <div class="row">
                                                    <a href="">
                                                        <h4>@prod.Title</h4>
                                                    </a>
                                                </div>
                                                <div class="row">
                                                    <span class="stars-container stars-@prod.Rating">★★★★★</span>
                                                </div>
                                                <div class="row">
                                                    <p>review</p>
                                                </div>
                                           

                                       
                                    </div>

                                   

                                    <div class="col-lg-1">
                                        <div class="row">
                                            <button type="button" class="btn btn-success btn-sm" onclick="location.href = '../../ADAMHome/SignUp'" id="FollowButton"><strong>Follow</strong></button>
                                        </div>
                                    </div>
                                    

                                        <br />
                                    </div>
                                <br />
                            </div>
                        </div>
                    
                  

                      
                }
            </div>

            <div class="row">
                <div class="col-lg-5"></div>
                <div class="col-lg-5">
                    <ul class="pagination" id="paginationPosition">
                        <li>
                            <a href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li style="color: black"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li>
                            <a href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-3"></div>
            </div>
        </section>
        <!--Service-->
        <!-- Portfolio -->
        <section id="brandBasedGraphs" class="content">
            <div>
                <h1 class="page-header" id="brandFeatureGraph">
                    Feature Comparison
                </h1>
            </div>
            <div class="row">
                <div class="col-lg-8"></div>
            </div>
        </section>
        <!--/Portfolio -->
    </div>
    <!--Footer-->
    <!-- <footer class="footer_wrapper" id="contact1" style="background-color: #D3D3D3;">-->
    <div id="footer-outer">






        <div id="footer-widgets">

            <div class="container">

                <div class="row" id="footer_row">



                    <div class="col-lg-3">

                        <!-- Footer widget area 1 -->

                        <div id="text-7" class="widget widget_text">
                            <h4>  &nbsp;Adam </h4>			<div class="textwidget">
                                <a href="/about-us/" title="">About Us</a>
                                <hr>
                                <a href="/our-team/#section-bod" title="">Board Of Directors</a>
                                <hr>
                                <a href="/our-team/#section-mt" title="">Management Team</a>
                                <hr>
                                <a href="/about-us#testimonial" title="">Testimonials</a>
                            </div>
                        </div>
                    </div><!--/span_3-->



                    <div class="col-lg-3">

                        <!-- Footer widget area 2 -->

                        <div id="text-9" class="widget widget_text">
                            <h4>Investors</h4>			<div class="textwidget">
                                <a href="http://ir.netsoltech.com/press-releases" title="">News / Events</a></br>
                                <hr>
                                <a href="http://ir.netsoltech.com/all-sec-filings" title="">SEC Filings</a></br>
                                <hr>
                                <a href="http://ir.netsoltech.com/financials" title="">Financial Information</a></br>
                                <hr>
                                <a href="http://ir.netsoltech.com" title="">More</a>
                            </div>
                        </div>


                    </div><!--/span_3-->




                    <div class="col-lg-3">

                        <!-- Footer widget area 3 -->

                        <div id="text-10" class="widget widget_text">
                            <h4>Information</h4>			<div class="textwidget">
                                <a href="http://www.netsoltech.com/#/" title="">Sitemap</a>
                                <hr>
                                <a href="/website-term-of-use/" title="">Terms of Use</a></br>
                                <hr>
                                <a href="/privacy-policy/" title="">Privacy Policy</a></br>
                                <hr>
                                <a href="/contact-us/" title="">Contact Us</a></br>

                            </div>
                        </div>


                    </div><!--/span_3-->





                    <div class="col-lg-3">

                        <!-- Footer widget area 4 -->

                        <div id="text-3" class="widget widget_text">
                            <h4>Upcoming Events</h4>			<div class="textwidget">
                                <a href="http://www.netsoltech.com/event-listings/" title="" target="_blank">Latin American Leasing...</a></br>
                                <hr>
                                <a href="http://www.netsoltech.com/event-listings/" title="" target="_blank">AELA Annual Conference</a></br>
                                <hr>
                                <a href="http://www.netsoltech.com/event-listings/" title="" target="_blank">ELFA 54th Annual Convention </a></br>
                                <hr>
                                <a href="http://www.netsoltech.com/event-listings/" title="">More</a>
                            </div>
                        </div>


                    </div><!--/span_3-->




                </div><!--/row-->



            </div><!--/container-->



        </div><!--/footer-widgets-->






        <div class="row" id="copyright">



            <div class="container">



                <div class="col span_5">





                    <p>&copy; 2016 ADAM.  </p>




                </div><!--/span_5-->



                <div class="col span_7 col_last">

                    <ul id="social"></ul>

                </div><!--/span_7-->



            </div><!--/container-->



        </div><!--/row-->

        <div style="height:5px; width:100%; float:left; background:#000;">

            <div style="float:left; width:25%; height:5px; background:#BDD7EE;"></div>

            <div style="float:left; width:25%; height:5px; background:#9DC2E5;"></div>

            <div style="float:left; width:25%; height:5px; background:#1970B8;"></div>

            <div style="float:left; width:25%; height:5px; background:#1D4E79;"></div>

        </div>





    </div><!--/footer-outer-->
    <!--</footer> -->




    <script src="~/Scripts/jquery-1.11.0.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery-scrolltofixed.js"></script>
    <script src="~/Scripts/jquery.nav.js"></script>
    <script src="~/Scripts/jquery.easing.1.3.js"></script>
    <script src="~/Scripts/jquery.isotope.js"></script>
    <script src="~/Scripts/fancybox/jquery.fancybox.pack.js"></script>
    <script src="~/Scripts/wow.js"></script>
    <script src="~/Scripts/custom.js"></script>
    <script src="~/Scripts/jquery.reveal.js"></script>

</body>
</html>

